<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- I had to create a public/css folder to get the css to work -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Athlete Finder</title>
</head>
<body>
    <form action="/displayathlete" method="post">
        <div>Year: <input type="number" name="season" min="1896" max="3000"></div>
        <div>Athlete Name: <input type="text" name="playname"></div>
        <button type="submit" name="fetch_button">Fetch the Data! Aha!</button>
    </form>
</body>
</html>